
<ul class="filter">
  <li class="filter__item">
    <label class="filter__button" for="c1">Абиссинская</label>
  </li>
  <li class="filter__item">
    <label class="filter__button" for="c2">Британская</label>
  </li>
  <li class="filter__item">
    <label class="filter__button" for="c3">Русская голубая</label>
  </li>
  <li class="filter__item">
    <label class="filter__button" for="c4">Сиамская</label>
  </li>
</ul>