
<section class="navigation__header">
  <h1 class="nav-header__title text--black">Бабуленькины котятки</h1>
  <div class="nav-header__button">
    <label class="button button--close" for="show-menu-switcher--off"></label>
  </div>
</section>
<section class="navigation__filter">
  <ul class="filter">
    <li class="filter__item">
      <label class="filter__button" for="c1">Абиссинская</label>
    </li>
    <li class="filter__item">
      <label class="filter__button" for="c2">Британская</label>
    </li>
    <li class="filter__item">
      <label class="filter__button" for="c3">Русская голубая</label>
    </li>
    <li class="filter__item">
      <label class="filter__button" for="c4">Сиамская</label>
    </li>
  </ul>
</section>
<section class="navigation__rating rating">
  <h2 class="rating__title text--red text--light">Рейтинг</h2>
  <label class="rating__sort-name text--black" for="rating__sort-select">по убыванию</label>
  <input class="rating__sort-select" type="checkbox" name="rating__sort-descendingly" id="rating__sort-select"/>
  <ul class="rating__list text--black">
    <li class="rating__item cat-breed"><span class="cat-breed__name">Абиссинская</span>
      <div class="cat-breed__meter">
        <meter min="0" max="12" low="6" high="8.5" optimum="10" value="9"></meter>
      </div>
      <div class="cat-breed__rating">9</div>
    </li>
    <li class="rating__item cat-breed"><span class="cat-breed__name">Британская</span>
      <div class="cat-breed__meter">
        <meter min="0" max="12" low="6" high="8.5" optimum="10" value="8"></meter>
      </div>
      <div class="cat-breed__rating">8</div>
    </li>
    <li class="rating__item cat-breed"><span class="cat-breed__name">Русская голубая</span>
      <div class="cat-breed__meter">
        <meter min="0" max="12" low="6" high="8.5" optimum="10" value="10"></meter>
      </div>
      <div class="cat-breed__rating">10</div>
    </li>
    <li class="rating__item cat-breed"><span class="cat-breed__name">Сиамская</span>
      <div class="cat-breed__meter">
        <meter min="0" max="12" low="6" high="8.5" optimum="10" value="4"></meter>
      </div>
      <div class="cat-breed__rating">4</div>
    </li>
  </ul>
</section>