
<div class="collection__item c1" style="background-image: url(./img/cat0001.jpg);" data-description="Гоша, 4 года"></div>
<div class="collection__item c2" style="background-image: url(./img/cat0002.jpg);" data-description="Мурка, 2 года"></div>
<div class="collection__item c3" style="background-image: url(./img/cat0003.jpg);" data-description="Шанель, 1 год"></div>
<div class="collection__item c4" style="background-image: url(./img/cat0004.jpg);" data-description="Шурка, 4 года"></div>
<div class="collection__item c1" style="background-image: url(./img/cat0005.jpg);" data-description="Гоша, 4 года"></div>
<div class="collection__item c1" style="background-image: url(./img/cat0006.jpg);" data-description="Мурка, 2 года"></div>
<div class="collection__item c3" style="background-image: url(./img/cat0007.jpg);" data-description="Шанель, 1 год"></div>
<div class="collection__item c2" style="background-image: url(./img/cat0008.jpg);" data-description="Шурка, 4 года"></div>
<div class="collection__item c4" style="background-image: url(./img/cat0009.jpg);" data-description="Гоша, 4 года"></div>
<div class="collection__item c4" style="background-image: url(./img/cat0010.jpg);" data-description="Мурка, 2 года"></div>
<div class="collection__item c1" style="background-image: url(./img/cat0011.jpg);" data-description="Шанель, 1 год"></div>
<div class="collection__item c3" style="background-image: url(./img/cat0012.jpg);" data-description="Шурка, 4 года"></div>
<div class="collection__item c2" style="background-image: url(./img/cat0013.jpg);" data-description="Том, 3 года"></div>
<div class="collection__item c4" style="background-image: url(./img/cat0014.jpg);" data-description="Пушок, 2 года"></div>
<div class="collection__item c1" style="background-image: url(./img/cat0015.jpg);" data-description="Мурзик, 1 года"></div>
<div class="collection__item c2" style="background-image: url(./img/cat0016.jpg);" data-description="Томас, 3 года"></div>