
<div class="main">
  <input class="show-menu-switcher show-menu-switcher--on" type="radio" name="show-menu-switcher" value="on" id="show-menu-switcher--on"/>
  <input class="show-menu-switcher show-menu-switcher--off" type="radio" name="show-menu-switcher" value="off" id="show-menu-switcher--off" checked="checked"/>
  <input class="filter-control" type="checkbox" id="c1" name="breeds"/>
  <input class="filter-control" type="checkbox" id="c2" name="breeds"/>
  <input class="filter-control" type="checkbox" id="c3" name="breeds"/>
  <input class="filter-control" type="checkbox" id="c4" name="breeds"/>
  <header class="main__header">
    <h1 class="main-header__title text--black">Бабуленькины котятки</h1>
    <div class="main-header__button">
      <label class="button button--menu" for="show-menu-switcher--on"></label>
    </div>
  </header>
  <section class="main__filter">
    <ul class="filter">
      <li class="filter__item">
        <label class="filter__button" for="c1">Абиссинская</label>
      </li>
      <li class="filter__item">
        <label class="filter__button" for="c2">Британская</label>
      </li>
      <li class="filter__item">
        <label class="filter__button" for="c3">Русская голубая</label>
      </li>
      <li class="filter__item">
        <label class="filter__button" for="c4">Сиамская</label>
      </li>
    </ul>
  </section>
  <section class="main__rating rating">
    <h2 class="rating__title text--red text--light">Рейтинг</h2>
    <label class="rating__sort-name text--black" for="rating__sort-select">по убыванию</label>
    <input class="rating__sort-select" type="checkbox" name="rating__sort-descendingly" id="rating__sort-select"/>
    <ul class="rating__list text--black">
      <li class="rating__item cat-breed"><span class="cat-breed__name">Абиссинская</span>
        <div class="cat-breed__meter">
          <meter min="0" max="12" low="6" high="8.5" optimum="10" value="9"></meter>
        </div>
        <div class="cat-breed__rating">9</div>
      </li>
      <li class="rating__item cat-breed"><span class="cat-breed__name">Британская</span>
        <div class="cat-breed__meter">
          <meter min="0" max="12" low="6" high="8.5" optimum="10" value="8"></meter>
        </div>
        <div class="cat-breed__rating">8</div>
      </li>
      <li class="rating__item cat-breed"><span class="cat-breed__name">Русская голубая</span>
        <div class="cat-breed__meter">
          <meter min="0" max="12" low="6" high="8.5" optimum="10" value="10"></meter>
        </div>
        <div class="cat-breed__rating">10</div>
      </li>
      <li class="rating__item cat-breed"><span class="cat-breed__name">Сиамская</span>
        <div class="cat-breed__meter">
          <meter min="0" max="12" low="6" high="8.5" optimum="10" value="4"></meter>
        </div>
        <div class="cat-breed__rating">4</div>
      </li>
    </ul>
  </section>
  <section class="main__navigation">
    <section class="navigation__header">
      <h1 class="nav-header__title text--black">Бабуленькины котятки</h1>
      <div class="nav-header__button">
        <label class="button button--close" for="show-menu-switcher--off"></label>
      </div>
    </section>
    <section class="navigation__filter">
      <ul class="filter">
        <li class="filter__item">
          <label class="filter__button" for="c1">Абиссинская</label>
        </li>
        <li class="filter__item">
          <label class="filter__button" for="c2">Британская</label>
        </li>
        <li class="filter__item">
          <label class="filter__button" for="c3">Русская голубая</label>
        </li>
        <li class="filter__item">
          <label class="filter__button" for="c4">Сиамская</label>
        </li>
      </ul>
    </section>
    <section class="navigation__rating rating">
      <h2 class="rating__title text--red text--light">Рейтинг</h2>
      <label class="rating__sort-name text--black" for="rating__sort-select">по убыванию</label>
      <input class="rating__sort-select" type="checkbox" name="rating__sort-descendingly" id="rating__sort-select"/>
      <ul class="rating__list text--black">
        <li class="rating__item cat-breed"><span class="cat-breed__name">Абиссинская</span>
          <div class="cat-breed__meter">
            <meter min="0" max="12" low="6" high="8.5" optimum="10" value="9"></meter>
          </div>
          <div class="cat-breed__rating">9</div>
        </li>
        <li class="rating__item cat-breed"><span class="cat-breed__name">Британская</span>
          <div class="cat-breed__meter">
            <meter min="0" max="12" low="6" high="8.5" optimum="10" value="8"></meter>
          </div>
          <div class="cat-breed__rating">8</div>
        </li>
        <li class="rating__item cat-breed"><span class="cat-breed__name">Русская голубая</span>
          <div class="cat-breed__meter">
            <meter min="0" max="12" low="6" high="8.5" optimum="10" value="10"></meter>
          </div>
          <div class="cat-breed__rating">10</div>
        </li>
        <li class="rating__item cat-breed"><span class="cat-breed__name">Сиамская</span>
          <div class="cat-breed__meter">
            <meter min="0" max="12" low="6" high="8.5" optimum="10" value="4"></meter>
          </div>
          <div class="cat-breed__rating">4</div>
        </li>
      </ul>
    </section>
  </section>
  <section class="main__content collection">
    <div class="collection__item c1" style="background-image: url(./img/cat0001.jpg);" data-description="Гоша, 4 года"></div>
    <div class="collection__item c2" style="background-image: url(./img/cat0002.jpg);" data-description="Мурка, 2 года"></div>
    <div class="collection__item c3" style="background-image: url(./img/cat0003.jpg);" data-description="Шанель, 1 год"></div>
    <div class="collection__item c4" style="background-image: url(./img/cat0004.jpg);" data-description="Шурка, 4 года"></div>
    <div class="collection__item c1" style="background-image: url(./img/cat0005.jpg);" data-description="Гоша, 4 года"></div>
    <div class="collection__item c1" style="background-image: url(./img/cat0006.jpg);" data-description="Мурка, 2 года"></div>
    <div class="collection__item c3" style="background-image: url(./img/cat0007.jpg);" data-description="Шанель, 1 год"></div>
    <div class="collection__item c2" style="background-image: url(./img/cat0008.jpg);" data-description="Шурка, 4 года"></div>
    <div class="collection__item c4" style="background-image: url(./img/cat0009.jpg);" data-description="Гоша, 4 года"></div>
    <div class="collection__item c4" style="background-image: url(./img/cat0010.jpg);" data-description="Мурка, 2 года"></div>
    <div class="collection__item c1" style="background-image: url(./img/cat0011.jpg);" data-description="Шанель, 1 год"></div>
    <div class="collection__item c3" style="background-image: url(./img/cat0012.jpg);" data-description="Шурка, 4 года"></div>
    <div class="collection__item c2" style="background-image: url(./img/cat0013.jpg);" data-description="Том, 3 года"></div>
    <div class="collection__item c4" style="background-image: url(./img/cat0014.jpg);" data-description="Пушок, 2 года"></div>
    <div class="collection__item c1" style="background-image: url(./img/cat0015.jpg);" data-description="Мурзик, 1 года"></div>
    <div class="collection__item c2" style="background-image: url(./img/cat0016.jpg);" data-description="Томас, 3 года"></div>
  </section>
  <footer class="main__footer">
    <div class="main-footer__copyright text--black">© ООО Бабуленькины котятки</div>
    <div class="main-footer__contacts text--blue">Наш адрес: улица Котовая, д.5</div>
  </footer>
</div>