
<input class="filter-control" type="checkbox" id="c1" name="breeds"/>
<input class="filter-control" type="checkbox" id="c2" name="breeds"/>
<input class="filter-control" type="checkbox" id="c3" name="breeds"/>
<input class="filter-control" type="checkbox" id="c4" name="breeds"/>