.button{
  display: block;
  width: 100%;
  height: 100%;
  line-height:100%;
  text-align: center;
  background-size: contain;
  background-position: 50% 50%;
  cursor: pointer;

}
.button--menu{
  background: url("../img/menu-button.png") no-repeat;
}

.button--close{
  background: url("../img/close-button.png") no-repeat;
}

