.rating{
  padding-top: 5px;
  padding-left: 20px;
  background-color: #d9d9d9;
}
.rating__title{
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.rating__sort-name{
  display: inline-block;
  text-align: right;
  width: 150px;
  margin-bottom: 25px;
  margin-right: 15px;
}
.rating__sort-select{
  display: inline-block;
  width: 30px;
}
.rating__sort-select:checked ~ .rating__list {
  display: flex;
}

.rating__list{
  display: block;
  flex-direction: column;
  padding:0px;
}
.rating__item{
  list-style: none;
  width: 205px;
  &:not(:last-child){
    margin-bottom: 25px;
  }

  &:nth-child(1){
    order: -9;
  }

  &:nth-child(2){
    order: -8;
  }

  &:nth-child(3){
    order: -10;
  }

  &:nth-child(4){
    order: -4;
  }

}










.cat-breed__name{
  display: inline-block;

  text-align: right;
  margin-bottom: 15px;
}
.cat-breed__meter{
  display: inline-block;
  vertical-align: center;
  margin-right: 15px;

}
.cat-breed__rating{
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  width:30px;
  text-align: right;
  line-height: 20px;
  vertical-align: center;
}


meter {
  width: 150px;
  height: 20px;
  -webkit-appearance: meter;
  background: none;
}

meter::-webkit-meter-bar{
  background: none; /* Required to get rid of the default background property */

  height:  20px;
  width: 150px;
}


meter::-webkit-meter-optimum-value
{
  background-image: linear-gradient(
          90deg,
          green,
          white
  );
  background-size: 100% 100%;
}

meter::-webkit-meter-suboptimum-value{

   background-image: linear-gradient(
           90deg,
           yellow,
           white
   );
   background-size: 100% 100%;
 }

meter::-webkit-meter-even-less-good-value
{
  background-image: linear-gradient(
          90deg,
          red,
          white
  );
  background-size: 100% 100%;
}
