.navigation__header{
  grid-area: nh;
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;

}



.main__navigation{
  position: absolute;
  z-index: 1000;
  transition: transform ease-in 0.5s;
  display: grid;
  grid-template-columns: minmax(min-content, auto);
  grid-template-rows: minmax(32px,135px) repeat(2, minmax(50px, min-content));
  grid-gap: 10px 15px;
  align-items: start;
  grid-template-areas:
          "nh"
          "fl"
          "rt";
  background-color: #d9d9d9;



  @media (min-width: 1035px){
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    grid-template-columns:  minmax(min-content, 240px);
    grid-template-rows:  repeat(2, minmax(50px, min-content));
    grid-template-areas:
          "fl"
          "rt";

    & > .navigation__header{
      display: none;
    }

  }

  @media (min-width: 1260px){
    position: relative;
    grid-template-rows:   minmax(50px, min-content);
    grid-template-areas:
            "fl";
    & > .navigation__header,
    & > .navigation__rating{
      display: none;
    }

    & > .navigation__filter{
      position: sticky;
      position: -webkit-sticky;

      top: 0;
    }
  }
}




