@import "main__header";
@import "main__filter-control";
@import "main__content";
@import "main__navigation";
@import "main__rating";
@import "navigation__header";
@import "main__footer";
@import "buttons";
@import "text";


.show-menu-switcher{
  display: none;
}
.show-menu-switcher--on:checked ~ .main__navigation {
  transform: translateX(0px);
}

.show-menu-switcher--on:checked ~ .main__header .main-header__title {
  display: none;
  @media (min-width: 1035px){
    display: inline;
  }
}


.show-menu-switcher--off:checked ~ .main__navigation {
  transform: translateX(-1000px);
  @media (min-width: 1035px){
    transform: translateX(0px);
  }
}

.main {
  //border: 2px solid #f76707;
  //border-radius: 5px;
  background-color: #ebebeb;
  //background-color: #ebebeb;

}


//.main > *,
//.main__content > *,
//.main__navigation > *
//{
//  border: 2px solid #ffa94d;
//  border-radius: 5px;
//  background-color:  #d9d9d9;
//  color: #d9480f;
//}

.main__header{
  grid-area: hd;
}

.main__navigation{
  grid-area: nv;
}

.main__filter{
  grid-area: fl;
}

.main__rating{
  grid-area: rt;
}

.main__content{
  grid-area: mc;
}


.main__footer{
  grid-area: ft;

}



.main{
  position: relative;
  display: grid;
  min-width: 400px;
  grid-gap: 10px  15px;
  grid-template-columns:   minmax(390px, auto);
  grid-template-rows: minmax(32px,135px) minmax(290px, auto) minmax(32px,65px);
  grid-template-areas:
          "hd"
          "mc"
          "ft";

  & > .main__filter,
  & > .main__rating{
    display: none;
  }

  @media (min-width: 600px){
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
            "hd hd"
            "mc mc"
            "ft ft";
  }
  @media (min-width: 780px){
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
            "hd hd hd"
            "mc mc mc"
            "ft ft ft";
  }

  @media (min-width: 1035px){
    grid-template-columns:  minmax(min-content, 240px) repeat(3, 1fr);
    grid-template-areas:
            "hd hd hd hd"
            "nv mc mc mc"
            "ft ft ft ft";

    & >.main__navigation{
      align-self: start;
    }
  }

  @media (min-width: 1260px){
    grid-template-columns: 210px repeat(3, 1fr) 240px;
    grid-template-areas:
            "hd hd hd hd hd"
            "nv mc mc mc rt"
            "ft ft ft ft ft";


    & >.main__rating{
      align-self: self-start;
      display: block;
      position: sticky;
      position: -webkit-sticky;

      top: 0;
    }

    & >.main__navigation{
      align-self: stretch;
    }

  }


}



*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: 'Lato', 'sans-serif';
  font-size: 1em;

}
img{
  max-width: 100%;
}


