.main__footer{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 30px 0 40px;

  border-image: url("../img/border.png") 2  round;
  border-top: 2px solid transparent;

}

.main-footer__copyright{
  margin-right: auto;
}