.filter-control{
  display: none;
}
.filter{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding:0;
}

.filter__item{
  height: 60px;
  list-style: none;
  border-bottom: 2px solid transparent;
  border-image: url("../img/border.png") 0 0 2 0 round;
  &:nth-child(1){
    border-top: 2px solid transparent;
    border-image: url("../img/border.png") 2 0 2 0 round;
  }
}

.filter__button{
  display: inline-block;
  line-height: 56px;
  width: 100%;
  padding-left: 15px;
  cursor: pointer;
  vertical-align: center;
  &:hover{
    background-color: #5a5a5a;
  }
}

#c1.filter-control:checked ~ .main__content .c1{
  filter: opacity(0.3);
}
#c2.filter-control:checked ~ .main__content .c2{
  filter: opacity(0.3);
}
#c3.filter-control:checked ~ .main__content .c3{
  filter: opacity(0.3);
}
#c4.filter-control:checked ~ .main__content .c4{
  filter: opacity(0.3);
}

#c1.filter-control:checked ~ .main__navigation > .navigation__filter  label.filter__button[for="c1"] {
  background-color: #5a5a5a;
}
#c2.filter-control:checked ~ .main__navigation > .navigation__filter label.filter__button[for="c2"] {
  background-color: #5a5a5a;
}
#c3.filter-control:checked ~ .main__navigation > .navigation__filter label.filter__button[for="c3"] {
  background-color: #5a5a5a;
}
#c4.filter-control:checked ~ .main__navigation > .navigation__filter label.filter__button[for="c4"] {
  background-color: #5a5a5a;
}