.main__content{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 290px;
  grid-gap: 10px  15px;
}

.collection__item{
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-color: #d9d9d9;
  &:hover::before{
    display: inline-block;
  }
}

.collection__item::before{
  content: attr(data-description);
  position: absolute;

  top: 66%;
  left: 0;
  display: none;
  white-space: nowrap;
  vertical-align: center;
  padding: 0 25px;
  height: 70px;
  line-height: 2em;
  font-size: 2em;
  color: white;
  background-color: rgba(153,153,153,0.43);


}



@media (min-width: 600px){

  .main__content{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
  }

  .main__content > div:nth-child(8n+2){
    grid-column-end: span 2;
  }

  .main__content > div:nth-child(8n+6){
    grid-column-end:  span 2;
  }

  .main__content > div:nth-child(8n+8){
    grid-column-end: span 2;
  }
}


@media (min-width: 780px){
  .main__content{
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
  }
  .main__content > div:nth-child(8n+1){

  }

  .main__content > div:nth-child(8n+2){
    grid-column-end: span 2;
  }

  .main__content > div:nth-child(8n+3){

  }
  .main__content > div:nth-child(8n+4){

  }

  .main__content > div:nth-child(8n+5){
  }
  .main__content > div:nth-child(8n+6){
    grid-column-end:  span 2;
  }

  .main__content > div:nth-child(8n+7){

  }
  .main__content > div:nth-child(8n+8){
    grid-column-end: span 3;
  }
}
