.main__header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
}

.main-header__title{
  flex: 0 0 auto;
  margin: 0 auto;
  white-space: nowrap;
}

.main-header__button{
  flex: 0 0 auto;
  order: -1;
  width: 24px;
  height: 24px;


  @media (min-width: 1035px){
    display: none;
  }
}



