.navigation__header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
}

.nav-header__title{
  flex: 0 0 auto;
  margin: 0 auto;
  white-space: nowrap;
  transition: all ease-in 0.5s;
  font-size: 1.5em;
  margin-right: 2em;

}


.nav-header__button{
  flex: 0 0 auto;
  order: -1;
  width: 24px;
  height: 24px;
  margin-right: 2em;

}

