.main
    input.show-menu-switcher.show-menu-switcher--on(type="radio" name="show-menu-switcher" value="on" id="show-menu-switcher--on" )
    input.show-menu-switcher.show-menu-switcher--off(type="radio" name="show-menu-switcher" value="off" id="show-menu-switcher--off" checked="checked")

    include main__filter-control

    header.main__header
        include main__header

    section.main__filter
        include filter

    section.main__rating.rating
        include rating

    section.main__navigation
       include main__navigation

    section.main__content.collection
        include main__content

    footer.main__footer
        include main__footer