h2.rating__title.text--red.text--light= MARKET.main__rating.rating__title
label.rating__sort-name.text--black(for="rating__sort-select")= MARKET.main__rating.rating__sort_name
input.rating__sort-select(type="checkbox" name="rating__sort-descendingly" id="rating__sort-select")

ul.rating__list.text--black
    each breed in MARKET.cat_breeds
        li.rating__item.cat-breed
                span.cat-breed__name= breed.name
                .cat-breed__meter
                    meter( min="0" max="12" low="6" high="8.5" optimum="10" value= breed.rating)
                .cat-breed__rating= breed.rating

